/* ************************* */
/* ***** KICKSTART CSS ***** */
/* ************************* */

/* FORMS */
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus {
	-webkit-box-shadow: 0 0 7px #6DB9FF;
	-moz-box-shadow   : 0 0 7px #6DB9FF;
	box-shadow        : 0 0 7px #6DB9FF;
	border: 1px solid #50B1FE;
	outline: none;
}

input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="range"],
input[type="datetime-local"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"] {
	-moz-transition: -moz-box-shadow 0.5s, border 0.5s, background 0.5s;
	-webkit-transition: -webkit-box-shadow 0.5s, border 0.5s, background 0.5s;
	-o-transition:  box-shadow 0.5s, border 0.5s, background 0.5s;
	transition: box-shadow 0.5s, border 0.5s, background 0.5s;
}


/* TRANSITIONS */
a {
	-moz-transition: no;
	-webkit-transition: no;
	-o-transition: no;
	transition: no;
}


/* BUTTON-BAR */
ul.button-bar li a,
ul.button-bar li a:active {
	border: 0;
}

ul.button-bar li.first a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

ul.button-bar li.last a {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

ul.button-bar li a:hover {/* from Kickstart CSS */
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);
	box-shadow: inset 0 2px 10px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);
}

ul.button-bar li.current a {/* from Kickstart CSS */
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera11.10+ */
	background: linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ABCFF', endColorstr='#4096EE',GradientType=0 ); /* IE6-9 */
	text-shadow: 0px -1px 0 rgba(0,0,0,0.2);
}


/* MENU */
.menu li:hover > ul {
	display: block;
}

.menu li.current > ul {
	border-right: 0;
	border-top: 0;
	border-width: 2px;
	bottom: initial;
	display: block;
	left: initial;
	margin-left: 1em;
	position: initial;
	right: initial;
	top: initial;
}

.menu li.has-menu > a:after {/* from FontAwesome 6 documentation */
	display: inline-block;
	font: var(--fa-font-solid);
	margin-right: 0.5em;
	position: absolute;
	right: 0;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.menu li.has-menu > a:after {
	content: "\f105";
}

.menu li.has-menu.current > a:after {
	content: "\f107";
}

.menu li.title > a {
	font-weight: bold;
}

.menu li.title.current > a,
.menu li.title.current > a:hover,
.menu li.title.current.hover > a {
	background: none;
	color: #777;
	cursor: default;
	text-decoration: underline;
	text-decoration-color: rgb(122,188,255);
	text-decoration-style: double;
	text-shadow: 0px 1px 1px #fff;
}


/* FIXES */
input[type="time"] {/* text-indent causes the input field to be too small for all characters (at least in Chromium) */
	min-width: 8em;
}
